@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4479d9 !important;
}
.bg-success {
  background-color: #6592e6 !important;
}
.bg-info {
  background-color: #4479d9 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #fb8000 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff8200 !important;
  border-color: #ff8200 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a85600 !important;
  border-color: #a85600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a85600 !important;
  border-color: #a85600 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fb8000 !important;
  border-color: #fb8000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a45400 !important;
  border-color: #a45400 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a45400 !important;
  border-color: #a45400 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff8200;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a85600 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8200 !important;
  border-color: #ff8200 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fb8000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a45400 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fb8000 !important;
  border-color: #fb8000 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #4479d9 !important;
}
.text-secondary {
  color: #ff8200 !important;
}
.text-success {
  color: #6592e6 !important;
}
.text-info {
  color: #4479d9 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #fb8000 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #1f4a98 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #994e00 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #205ac5 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1f4a98 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #954c00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #4479d9;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4479d9;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #fb8000;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4479d9;
  border-color: #4479d9;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4479d9;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffe4c8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #4479d9 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #4479d9;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4479d9;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #4479d9;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4479d9;
  border-bottom-color: #4479d9;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff8200 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234479d9' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sxM642o5X2 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sxM642o5X2 nav.navbar {
  position: fixed;
}
.cid-sxM642o5X2 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sxM642o5X2 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sxM642o5X2 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sxM642o5X2 .dropdown-item:hover,
.cid-sxM642o5X2 .dropdown-item:focus {
  background: #4479d9 !important;
  color: white !important;
}
.cid-sxM642o5X2 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sxM642o5X2 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sxM642o5X2 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sxM642o5X2 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sxM642o5X2 .nav-link {
  position: relative;
}
.cid-sxM642o5X2 .container {
  display: flex;
  margin: auto;
}
.cid-sxM642o5X2 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sxM642o5X2 .dropdown-menu,
.cid-sxM642o5X2 .navbar.opened {
  background: #ffffff !important;
}
.cid-sxM642o5X2 .nav-item:focus,
.cid-sxM642o5X2 .nav-link:focus {
  outline: none;
}
.cid-sxM642o5X2 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sxM642o5X2 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sxM642o5X2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sxM642o5X2 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sxM642o5X2 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sxM642o5X2 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sxM642o5X2 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-sxM642o5X2 .navbar.opened {
  transition: all 0.3s;
}
.cid-sxM642o5X2 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sxM642o5X2 .navbar .navbar-logo img {
  width: auto;
}
.cid-sxM642o5X2 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sxM642o5X2 .navbar.collapsed {
  justify-content: center;
}
.cid-sxM642o5X2 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sxM642o5X2 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sxM642o5X2 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sxM642o5X2 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sxM642o5X2 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sxM642o5X2 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sxM642o5X2 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sxM642o5X2 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sxM642o5X2 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sxM642o5X2 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sxM642o5X2 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sxM642o5X2 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sxM642o5X2 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sxM642o5X2 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sxM642o5X2 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sxM642o5X2 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sxM642o5X2 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sxM642o5X2 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sxM642o5X2 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sxM642o5X2 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sxM642o5X2 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sxM642o5X2 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sxM642o5X2 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sxM642o5X2 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sxM642o5X2 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sxM642o5X2 .dropdown-item.active,
.cid-sxM642o5X2 .dropdown-item:active {
  background-color: transparent;
}
.cid-sxM642o5X2 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sxM642o5X2 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sxM642o5X2 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sxM642o5X2 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sxM642o5X2 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sxM642o5X2 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sxM642o5X2 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sxM642o5X2 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sxM642o5X2 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sxM642o5X2 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sxM642o5X2 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sxM642o5X2 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sxM642o5X2 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sxM642o5X2 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sxM642o5X2 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sxM642o5X2 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sxM642o5X2 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sxM642o5X2 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sxM642o5X2 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sxM642o5X2 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sxM642o5X2 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sxM642o5X2 .navbar {
    height: 70px;
  }
  .cid-sxM642o5X2 .navbar.opened {
    height: auto;
  }
  .cid-sxM642o5X2 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sxM68QphR1 {
  background-image: url("../../../assets/images/0140b5281a814797e40c064bf985d8a563cac51f55-1600x1199.jpg");
}
.cid-sxM6bQYXYg {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMmHgxdCR {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syyyUSXRwq {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syyyUSXRwq .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-syyyUSXRwq .image-wrap img {
    display: block;
    margin: auto;
    width: 10%;
  }
}
.cid-sxMrU5IBlv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMrU5IBlv .video-wrapper iframe {
  width: 100%;
}
.cid-sxMrU5IBlv .mbr-section-title,
.cid-sxMrU5IBlv .mbr-section-subtitle,
.cid-sxMrU5IBlv .mbr-text {
  text-align: center;
}
.cid-sxMrKY78Mo {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sxMrKY78Mo .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-sxMrKY78Mo .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sxMrKY78Mo .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sxMrKY78Mo .card-wrapper {
    padding: 4rem;
  }
}
.cid-sxMrKY78Mo .mbr-text,
.cid-sxMrKY78Mo .mbr-section-btn {
  color: #ffffff;
}
.cid-sxMrKY78Mo .card-title,
.cid-sxMrKY78Mo .card-box {
  text-align: left;
}
.cid-syyAlAqFNy {
  padding-top: 4rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-syyAlAqFNy .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-syyAlAqFNy .image-wrap img {
    display: block;
    margin: auto;
    width: 20%;
  }
}
.cid-sxMHb6JImZ {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMrbkSS4w {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-sxMrbkSS4w .mbr-text {
  color: #767676;
}
.cid-sxMrbkSS4w .mbr-section-subtitle {
  color: #767676;
}
.cid-sxMrbkSS4w .title .num {
  width: 100%;
  display: block;
}
.cid-sxMrbkSS4w .title .card-title {
  z-index: 1;
}
.cid-sxMrbkSS4w .num {
  color: #6592e6;
}
@media (max-width: 767px) {
  .cid-sxMrbkSS4w * {
    text-align: center !important;
  }
  .cid-sxMrbkSS4w .content-column {
    margin-bottom: 2rem;
  }
}
.cid-sxMGTvNOTa {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMGTvNOTa blockquote {
  border-color: #6592e6;
  border-radius: 4px;
  background-color: #fafafa;
}
.cid-sxMHQBG1BV {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMHQBG1BV .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sxMHQBG1BV .card {
    margin-bottom: 2rem!important;
  }
  .cid-sxMHQBG1BV .card-wrapper {
    padding: 0 1rem;
  }
}
@media (max-width: 767px) {
  .cid-sxMHQBG1BV .link-wrap {
    align-items: center;
  }
}
.cid-sxMHQBG1BV .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-syyyhc8RYE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-syyyhc8RYE .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-syyyhc8RYE .image-wrap img {
    display: block;
    margin: auto;
    width: 20%;
  }
}
.cid-syyyhc8RYE .mbr-text,
.cid-syyyhc8RYE .mbr-section-btn {
  text-align: left;
}
.cid-szc9lYB2N4 {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-szc9lYB2N4 .item {
  padding-bottom: 2rem;
}
.cid-szc9lYB2N4 .item-wrapper {
  height: 100%;
  position: relative;
}
.cid-szc9lYB2N4 .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-szc9lYB2N4 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-szc9lYB2N4 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-szc9lYB2N4 .carousel-control,
.cid-szc9lYB2N4 .close {
  background: #1b1b1b;
}
.cid-szc9lYB2N4 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-szc9lYB2N4 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-szc9lYB2N4 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-szc9lYB2N4 .carousel-control-next span {
  margin-left: 5px;
}
.cid-szc9lYB2N4 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-szc9lYB2N4 .close::before {
  content: '\e91a';
}
.cid-szc9lYB2N4 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-szc9lYB2N4 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-szc9lYB2N4 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-szc9lYB2N4 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-szc9lYB2N4 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-szc9lYB2N4 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-szc9lYB2N4 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-szc9lYB2N4 .carousel-indicators li.active,
.cid-szc9lYB2N4 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-szc9lYB2N4 .carousel-indicators li::after,
.cid-szc9lYB2N4 .carousel-indicators li::before {
  content: none;
}
.cid-szc9lYB2N4 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-szc9lYB2N4 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-szc9lYB2N4 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-szc9lYB2N4 .carousel-indicators {
    display: none;
  }
}
.cid-szc9lYB2N4 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-szc9lYB2N4 .carousel-inner > .active {
  display: block;
}
.cid-szc9lYB2N4 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-szc9lYB2N4 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-szc9lYB2N4 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-szc9lYB2N4 .carousel-control,
  .cid-szc9lYB2N4 .carousel-indicators,
  .cid-szc9lYB2N4 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-szc9lYB2N4 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-szc9lYB2N4 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-szc9lYB2N4 .carousel-indicators .active,
.cid-szc9lYB2N4 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-szc9lYB2N4 .carousel-indicators .active {
  background: #fff;
}
.cid-szc9lYB2N4 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-szc9lYB2N4 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-szc9lYB2N4 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-szc9lYB2N4 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-szc9lYB2N4 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-szc9lYB2N4 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-szc9lYB2N4 .carousel {
  width: 100%;
}
.cid-szc9lYB2N4 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-szc9lYB2N4 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-szc9lYB2N4 .modal.fade .modal-dialog,
.cid-szc9lYB2N4 .modal.in .modal-dialog {
  transform: none;
}
.cid-szc9lYB2N4 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-szc9lYB2N4 H6 {
  text-align: center;
}
.cid-syyzigcB8P {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-syyzigcB8P .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-syyzigcB8P .image-wrap img {
    display: block;
    margin: auto;
    width: 20%;
  }
}
.cid-sxMs735iwN {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMs735iwN .nav-tabs .nav-item.open .nav-link:focus,
.cid-sxMs735iwN .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-sxMs735iwN .nav-tabs {
  flex-wrap: wrap;
  border-bottom: 1px solid #6592e6;
}
@media (max-width: 767px) {
  .cid-sxMs735iwN .nav-item {
    width: 100%;
    margin: 0;
  }
}
.cid-sxMs735iwN .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  border-bottom: 3px solid transparent;
  border-radius: 0 !important;
}
.cid-sxMs735iwN .nav-tabs .nav-link:not(.active) {
  color: #000000;
}
.cid-sxMs735iwN .nav-tabs .nav-item {
  margin-right: 1.5rem;
}
.cid-sxMs735iwN .nav-link,
.cid-sxMs735iwN .nav-link.active {
  padding: 1rem 0;
  background-color: transparent;
}
.cid-sxMs735iwN .nav-tabs .nav-link.active {
  color: #6592e6;
  border-bottom: 3px solid #6592e6;
}
.cid-sxMs735iwN H4 {
  text-align: center;
}
.cid-sxMs735iwN H3 {
  text-align: center;
}
.cid-sxMruLlXbg {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-szcaitNPQO {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-szcaitNPQO .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-szcaitNPQO .counter-container ul li {
  margin-bottom: 1rem;
  position: relative;
}
.cid-szcaitNPQO .counter-container ul li:before {
  position: absolute;
  left: -1.6rem;
  content: "\2022";
  color: #6592e6;
  font-weight: bold;
  font-size: 2rem;
  width: 1.6rem;
  line-height: 1.2;
}
.cid-szcaitNPQO .mbr-section-title {
  text-align: center;
}
.cid-sxMrrdbL9G {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-sxMrrdbL9G .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-sxMrrdbL9G img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sxMrrdbL9G .text-wrapper {
    padding: 2rem;
  }
}
.cid-szcb8GfZtM {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-szcb8GfZtM .mbr-section-subtitle {
  text-align: center;
}
.cid-szcb8GfZtM .mbr-text {
  text-align: center;
}
.cid-syyzNxY0xj {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-syyzNxY0xj .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-syyzNxY0xj .image-wrap img {
    display: block;
    margin: auto;
    width: 10%;
  }
}
.cid-sxMr9P9ykv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMr9P9ykv .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #4479d9;
  margin-left: 1rem;
}
.cid-sxMr9P9ykv .panel-group {
  border: none;
}
.cid-sxMr9P9ykv .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sxMr9P9ykv .panel-body,
.cid-sxMr9P9ykv .card-header {
  padding: 1rem 0;
}
.cid-sxMr9P9ykv .panel-title-edit {
  color: #000000;
}
.cid-sxMr9P9ykv .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-sxMK8k2kIC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sxMK8k2kIC .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #4479d9;
  margin-left: 1rem;
}
.cid-sxMK8k2kIC .panel-group {
  border: none;
}
.cid-sxMK8k2kIC .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sxMK8k2kIC .panel-body,
.cid-sxMK8k2kIC .card-header {
  padding: 1rem 0;
}
.cid-sxMK8k2kIC .panel-title-edit {
  color: #000000;
}
.cid-sxMK8k2kIC .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-syyBvKmAow {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
